    
<div class="container"> 
    <h2>Semaforo de Tareas</h2>

    <label>Iniciado</label>
    <label class="bi bi-circle-fill" ></label>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
    </svg>

    <label>En proceso</label>
    <label class="bi bi-circle-fill" ></label>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(202, 195, 89)" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
    </svg>

    <label>Terminado</label>
    <label class="terminado bi-circle-fill" ></label>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(95, 194, 100)" class="bi bi-circle-fill" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
    </svg>

</div>  